[submodule "rails3/public/third-party/jslib"]
	path = rails3/public/third-party/jslib
	url = http://github.com/caesarfeta/jslib
[submodule "rails3/public/third-party/autosize"]
	path = rails3/public/third-party/autosize
	url = https://github.com/jackmoore/autosize
[submodule "rails3/public/third-party/dropzone"]
	path = rails3/public/third-party/dropzone
	url = http://github.com/caesarfeta/dropzone
[submodule "rails3/public/third-party/imgspect"]
	path = rails3/public/third-party/imgspect
	url = https://github.com/PerseusDL/imgspect
