<% key = locals[:key] %>
<% val = locals[:val] %>
<% editable = locals[:editable] %>
<% row_times = locals[:row_times] %>

<% if editable.include?(key) == true || val != '' %>
<tr>
	<td class="key"><%= labelify(key) %>:</td>
	<td class="value">
		<span class="current">
		<% if row_times.include?(key) %>
		<%= readTime(val) %>
		<% else %>
			<% if val.class == Array %>
			<%= val.join(' ') %>
			<% else %>
			<%= val %>
			<% end %>
		<% end %>
		</span>
	</td>
	<td><% if editable.include?(key) == true %><a class="edit"><img src="/img/edit_pencil.svg" /></a><% end %></td>
</tr>
<% end %>