<% key = locals[:key] %>
<% val = locals[:val] %>
<% editable = locals[:editable] %>
<% row_times = locals[:row_times] %>
<tr>
	<td class="key"><%= labelify(key) %>:</td>
	<td class="value">
		<% if row_times.include?(key) %>
		<%= readTime(val) %>
		<% else %>
		<%= val %>
		<% end %>
	</td>
	<td><% if editable.include?(key) == true %><a class="edit"><img src="/img/edit_pencil.svg" /></a><% end %></td>
</tr>