<html>
<head>
	<link rel="stylesheet" href="/third-party/imgspect/src/css/imgbit.css">
</head>
<body>
	<img src="<%= imgSrc( @img[:src] ) %>" />
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/jQueryPlus.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/StringExt.js"></script>
<script src="/third-party/imgspect/third_party/jslib/third_party/datejs/date.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/TimeStamp.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/ObjectExt.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/Culuh.js"></script>
<script src="/third-party/imgspect/third_party/jslib/src/js/Sorted.js"></script>
<script src="/third-party/imgspect/src/js/imgbit.js"></script>
</html>
