%h1 Add Image To Collection
%form{ :action=>"/collection/add/image", :method=>"post", :enctype=>"multipart/form-data" }
  %fieldset
    %ol
      %li
        %label{ :for =>"name" } Collection Id:
        %input{ :type=>"text", :name=>"collection_id" }
      %li
        %label{ :for =>"name" } Image Id:
        %input{ :type=>"text", :name=>"image_id" }

  %input{ :type=>"submit", :value=>"Create" }