%h1 Add Collection To Collection
%form{ :action=>"/collection/add/collection", :method=>"post", :enctype=>"multipart/form-data" }
  %fieldset
    %ol
      %li
        %label{ :for =>"name" } Collection Id:
        %input{ :type=>"text", :name=>"collection_id" }
      %li
        %label{ :for =>"name" } Subcollection Id:
        %input{ :type=>"text", :name=>"subcollection_id" }

  %input{ :type=>"submit", :value=>"Create" }