.clearfix {
	clear:both;
}
body {
	background-color: #111;
}
h1,h2,h3,
h4,h5,p,
label,td {
	color:#666;
}

/* Timestamp */
.timestamp {
	padding:10px;
}
.timestamp > div {
	color:#666;
	text-align:center;
}
/*
<div class="timestamp">
	<div><%= locals[:label] %></div>
	<div class="day_of_week"><%= day_of_week %></div>
	<div class="date"><%= date %></div>
	<div class="time_of_day"><%= time_of_day %></div>
</div>

/* Dark Buttons */
.button.dark {}

/* Collection-Box */
.collection-box {
	padding:10px;
	background-color:#EFEFEF;
}
.collection-box .samples {
	padding:0;
	margin:0 0 10px 0;
}
.collection-box .metadata {
	padding:5px 10px;
	background-color:#DFDFDF;
}
.collection-box .person,
.collection-box .date {
}
.collection-box h2,
.collection-box h3,
.collection-box h4,
.collection-box h5 {
	margin:0;
	padding:0;
}
.collection-box h2 {
	font-size:1.5em;
}
.collection-box h3 {
	font-size:.75em;
}
.collection-box .value-count {
	margin:0 5px;
	float:left;
}
.collection-box .keywords a {
	margin:0 5px;
}
.collection-box .keywords {
	padding:10px;
	background-color:#CCC;
	margin:20px 0;
}
.collection-box .date-person {
	margin:0 10px;
	float:right;
}
.collection-box .date-person .header {
	font-weight:bold;
}
.collection-box .name,
.collection-box .check {
	float:left;
}
.collection-box .check {
	display:none;
	width:50px;
	padding:2px 10px;
}

/* image-preview */
.image-preview {
	background-color:#222;
	font-size:.8em;
	width:100%;
	margin-bottom:10px;
}
.image-preview h2,
.image-preview h3,
.image-preview h4,
.image-preview h5 {
	font-size:1em;
	margin:0;
	padding:0;
	color: #888;
}
.image-preview h2 {
	font-size:1.25em;
}
.image-preview img {
	display:block;
	float:left;
}
.image-preview .metadata {
	display:block;
	height:100%;
	float:left;
	margin:0;
	padding:10px;
}
.image-preview .group {
	margin:0 0 25px 0;
}
.image-preview .metadata .keywords,
.image-preview .metadata .collections {
	margin:0;
}
.image-preview .metadata a.button {
	margin:0;
}

/* image-full */
.image-full {
	font-size:.8em;
}
.image-full h2 {
	font-size:1.25em;
}
.image-full .display {
	display:block;
	float:left;
	background-color:#222;
}
.image-full .metadata a {
	margin: 0 0 4px 0;
}
.image-full .display img {
	float:left;
}
.image-full .metadata {
	background-color:#222;
	display:block;
	float:left;
	overflow-y:scroll;
}
.image-full .metadata > div {
	width: 100%;
}
.image-full .metadata .input {
	display:block;
}
.image-full table {
	border-collapse:collapse;
	width: 100%;
}
.image-full table td {
	margin:0;
	border:none;
	padding:8px;
}
.image-full table tr:nth-child(odd) {
	background-color:#2A2A2A;
}
.image-full table td.key {
	text-align:right;
}
